@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;800&display=swap');

.carebuddy-navbar {
    position: relative;
    width: 1360px;
    height: 69px;
    background: #FFFFFF;
}

.frame {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 231px;
    position: absolute;
    width: 1340px;
    height: 64px;
    left: 11px;
    top: -10px;
}

.Link-frame {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 780px;
    height: 64px;
}

.logo-frame {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: 136px;
    height: 64px;
}

.logo img {
    width: 136px;
    height: 33px;
    position: absolute;
}

/* Dashboard-css */
.dashboard-outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 62px;
    height: 64px;
    position: absolute;
    left: 170px;
    top: 38px;
}

.dashboard-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 62px;
    height: 64px;
    position: absolute;
}

.dashboard-text h5 {
    width: 54px;
    height: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #111827;
    position: absolute;

}

.bottom-border1 {
    width: 68px;
    height: 2px;


}

/* Interaction-css */
.interaction-outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 68px;
    height: 64px;
    position: absolute;
    left: 263px;
    top: 6px;
}

.interaction-frame {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 4px 0px;
    width: 68px;
    height: 62px;
    position: absolute;
}

.interaction-text h5 {
    width: 80px;
    height: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #6B7280;
    position: absolute;

}

.bottom-border2 {
    width: 88px;
    height: 2px;
}

/* Task-css */

.task-outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 27px;
    height: 64px;
    left: 360px;
    top: 6px;
}

.task-frame {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 4px 0px;
    position: absolute;
    width: 27px;
    height: 62px;
}

.task-text h5 {
    width: 19px;
    height: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #6B7280;
    position: absolute;
}

.bottom-border3 {
    width: 47px;
    height: 2px;
}

/* Calander-css */
.calander-outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 49px;
    height: 64px;
    left: 410px;
    top: 4.2px;

}

.calander-frame {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 4px 0px;
    position: absolute;
    width: 49px;
    height: 64px;
}

.calander-text h5 {
    position: absolute;
    width: 61px;
    height: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #6B7280;
}

.bottom-border4 {
    width: 49px;
    height: 2px;
}

/* Member-css */

.member-outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 52px;
    height: 64px;
    left: 500px;
    top: 5.5px;

}

.member-frame {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 4px 0px;
    position: absolute;
    width: 52px;
    height: 62px;
}

.member-text h5 {
    width: 64px;
    height: 20px;
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #6B7280;

}

.bottom-border5 {
    width: 72px;
    height: 2px;

}

/* Report-css */

.report-outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 41px;
    height: 64px;
    left: 580px;
    top: 6px;


}

.report-frame {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 4px 0px;
    position: absolute;
    width: 41px;
    height: 62px;
}

.report-text h5 {
    width: 53px;
    height: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #6B7280;
    position: absolute;

}

.bottom-border6 {
    width: 61px;
    height: 2px;
}

/* Admin-css */
.admin-outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 51px;
    height: 64px;
    left: 640px;
    top: 6px;

}

.admin-frame {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 4px 0px;
    position: absolute;
    width: 51px;
    height: 62px;
}

.admin-text h5 {
    width: 43px;
    height: 20px;
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #6B7280;

}

.bottom-border7 {
    width: 51px;
    height: 2px;

}

/* Setup-css */
.setup-outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 28px;
    height: 64px;
    left: 710px;
    top: 6px;
}

.setup-frame {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 4px 0px;
    position: absolute;
    width: 28px;
    height: 62px;

}

.setup-text h5 {
    width: 40px;
    height: 20px;
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #6B7280;

}

.bottom-border8 {
    width: 48px;
    height: 2px;
}

.divide-line {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 4px 0px;
    width: 1px;
    height: 62px;
}

.search-pf {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 288px;
    position: absolute;
    width: 392px;
    height: 38px;
    left: 640px;
    top: 6px;
}

.se-pf-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 392px;
    height: 38px;
}

.se-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0px;
    position: absolute;
    width: 300px;
    height: 38px;
}

.se-field input {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 9px 13px;
    gap: 8px;
    position: absolute;
    width: 250px;
    height: 38px;
    background: #FFFFFF;
    border: 1px solid #D1D5DB;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    background-color: #FFFFFF;
    resize: none;
    outline: none;

}

.se-icon-box {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 29px;
    left: 310px;

}

.se-icon img {
    position: absolute;
    left: 10%;
    right: 10%;
    top: 10%;
    bottom: 10%;

}

.se-icon h5 {
    width: 27px;
    height: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #6B7280;
    position: absolute;
    left: 30px;
}

.trailing-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 8px;
    gap: 12px;
    position: absolute;
    width: 72px;
    height: 32px;
    left: 550px;
    top: 20px;
}

.outer-bell {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px;
    position: absolute;
    width: 32px;
    height: 32px;
    background: #FFFFFF;
    border-radius: 16px;
    position: absolute;
    left: 18px;
}

.inner-bell {
    width: 24px;
    height: 24px;
    position: absolute;
}

.bell img {
    position: absolute;
    left: 16.67%;
    right: 16.67%;
    top: 12.5%;
    bottom: 12.5%;
}

.avatar{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
position: absolute;
width: 32px;
height: 32px;
background: #FFFFFF;
border-radius: 16px;
left: 50px;
bottom: 15px;
}

.avatar-pic img{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
position: absolute;
width: 32px;
height: 32px;
border-radius: 16px;
}












/* End-Line-css */
.line {
    position: absolute;
    width: 1360px;
    height: 0px;
    left: 0px;
    top: 69px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}


@media (max-width: 767px) {
  .carebuddy-navbar {
    width: 100%;
  }
  
  .frame {
    flex-direction: column;
    gap: 16px;
    width: 100%;
    left: 0;
    top: 0;
  }
  
  .Link-frame {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 8px;
  }
  
  .logo-frame {
    align-items: center;
    width: 30%;
    height: auto;
    position: absolute;
    top: 30px;
    left: 40px;
  }
  
  .logo img {
    width: 100%;
    height: auto;
    position: absolute;
  }
  
  .dashboard-outer,
  .interaction-outer,
  .task-outer,
  .calander-outer,
  .member-outer {
    width: 100%;
    height: auto;
    margin-bottom: 16px;
  }
  
  .dashboard-text h5,
  .interaction-text h5,
  .task-text h5,
  .calander-text h5,
  .member-text h5 {
    font-size: 12px;
  }
}
